# login: portfolio@nicitaa.com
# password: by system
# DB password: fvc2BM2kUQyNENVq
NEXT_PUBLIC_SUPABASE_URL='https://sckioxanzluozlghvnts.supabase.co'
NEXT_PUBLIC_SUPABASE_ANON_KEY=''
SUPABASE_SERVICE_ROLE_KEY=''

# used for: 14 23 28 29 19
# portfolio@nicitaa.com
# nicitaa.com-portfoliO0
UPSTASH_REDIS_REST_URL=''
UPSTASH_REDIS_REST_TOKEN=''
UPSTASH_REDIS_URL=''

# 14 portfolio
TELEGRAM_BOT_TOKEN=''
TELEGRAM_CHAT_ID=''

# login with github
RESEND_SECRET=''
NEXT_PUBLIC_SUPPORT_NOTIFICATION_EMAIL=''
CRON_SECRET=''

DEVICE_ID_ENCRYPTION_KEY=''

ADMIN_USER_ID_ARR=''
ADMIN_PASSWORD=""